<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projektbörse MySQL Dummy Service</title>
</head>
<body>
    <h3>Usage:</h3>
    <p>(GET) List posts: <a href="http://localhost:8045/posts">http://localhost:8045/posts</a></p>
    <p>(GET) List a single post: <a href="http://localhost:8045/posts/id/<id>">http://localhost:8045/posts/id/&lt;id&gt</a></p>
    <p>(GET) List the post-titles only: <a href="http://localhost:8045/posts/titles">http://localhost:8045/posts/titles</a></p>
    <p>(POST) Add post: <a href="http://localhost:8045/posts/add?title=&lt;title&gt;&amp;content=&lt;content&gt;&amp;status=publish">http://localhost:8045/posts/add?title=&lt;title&gt;&amp;content=&lt;content&gt;&amp;status=publish</a></p>
    <p>(GET) Delete post: <a href="http://localhost:8045/posts/delete?id=&lt;id&gt;">http://localhost:8045/posts/delete?id=&lt;id&gt;</a></p>
    <p>(DELETE) Delete all posts: <a href="http://localhost:8045/posts/deleteall">http://localhost:8045/posts/deleteall</a></p>
    <p>&nbsp;</p>
    <p>(POST) Add Post via JSON-REST-Request: <a href="http://localhost:8045/posts/jsonadd">http://localhost:8045/posts/jsonadd</a></p>
    <p>Expected JSON Format:</p>
    <blockquote>
        <p><span style="color: #ff0000;">{</span><br /><span style="color: #ff0000;">&nbsp;&nbsp; "title": "&lt;title&gt;",</span><br /><span style="color: #ff0000;">&nbsp;&nbsp; "content": "&lt;content&gt;",</span><br /><span style="color: #ff0000;">&nbsp;&nbsp; "status": "publish"</span><br /><span style="color: #ff0000;">}</span></p>
    </blockquote>
</body>
</html>