<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dummy Projektbörse THK</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/pboerse.css" th:href="@{/pboerse.css}" />
</head>
<body>
<div class="pagelayout">
    <h1>Enter Project Post:</h1>
    <form action="#" th:action="@{/}" th:object="${addPost}" method="post" id="post-form">
        <p><input type="text" th:field="*{title}" placeholder="Post Title..." maxlength="200"/><br /></p>
        <p><textarea placeholder="Write Post Content here..." th:field="*{content}" maxlength="2000" ></textarea></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <br />
    <br />
    <br />
    <h1>Project-Database:</h1>
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="posts : ${posts}">
                        <td th:text="${posts.id}">1</td>
                        <td th:text="${posts.title}">Title ...</td>
                        <td th:text="${posts.content}">Text ...</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>